*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.container {
    max-width:400px;
    border: 3px solid #f0a6ca;
    margin: auto;
    border-radius: 50px;
    background-color:#f0a6ca ; 
    /* margin-bottom: 10vh; */
}
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #9c89b8;
    margin-bottom: 10vh;
}
.container input {
    background: #efc3e6;
    border:none;
    box-shadow:none;
    width:100%;
    padding:20px;
    text-align:right;
    font-size: 30px;
    /* border-bottom: 3px solid black; */

    
}
.calculator {
display: grid;
grid-template-columns:1fr 1fr 1fr 1fr;
padding: 10px;
grid-gap: 5px;
}

/* .butt {
    background: gray;
    border:1px solid gray;
    padding:20px;
    text-align: center;
    color: #EEE;
    font-size:15px;
    cursor: pointer;
    border-radius: 10px;
} */
.butt, .is-zero, .is-clear, .is-equals {
    border: 0.5px solid #efc3e6 ;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    border-radius: 50px;
    align-items: space-evenly;
    background: #efc3e6;
}


.is-clear,.is-equals {
    grid-column:span 2;

}
.is-clear {
    background: #9c89b8;
}

.is-equals {
    background: #9c89b8 ;
}

@media screen and (max-width: 300px) {
    .container {
        width: 100%;
    }
    .butt {
        display: grid;
        grid-template-columns: repeat (4,1fr);
        transform: scale(0.8);
        width: 90%;
        height: auto;
        
} 
}

/* @media screen and (max-width: 720px) {
    .calculator {
        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
        padding: 10px;
        grid-gap: 5px;
        }
}


@media screen and (max-width:1199px) {
.is-clear, .is-zero {
    grid-area: auto;
}
}  */