*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.container {
    max-width:400px;
    border: 3px solid black;
    margin: auto;
    border-radius: 6px;
    background-color: white; 
     /* box-shadow: inset; */
    /* margin-bottom: 10vh; */
}
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: blueviolet;
    /* margin-bottom: 10vh; */
}
.container input {
    background: white;
    border:none;
    box-shadow:none;
    width:100%;
    padding:20px;
    text-align:right;
    font-size: 30px;
    border-bottom: 3px solid black;

    
}

.calculator {
display: grid;
/* grid-template-areas: '';     */
grid-template-columns:1fr 1fr 1fr 1fr;
padding: 10px;
grid-gap: 5px;
}

/* .butt {
    background: gray;
    border:1px solid gray;
    padding:20px;
    text-align: center;
    color: #EEE;
    font-size:15px;
    cursor: pointer;
    border-radius: 10px;
} */
.butt, .is-zero, .is-clear, .is-equals {
    border: 0.5px solid;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    border-radius: 50px;
    align-items: space-evenly;
}


.is-clear,.is-equals {
    grid-column:span 2;

}
.is-clear {
    background: purple;
}

.is-equals {
    background: green;
}

@media screen and (max-width: 300px) {
    .container {
        width: 100%;
    }
    .butt {
        display: grid;
        grid-template-columns: repeat (4,1fr);
        transform: scale(0.8);
        width: 90%;
        height: auto;
        
} 
}

/* @media screen and (max-width: 720px) {


}  */