*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width:300px;
    border: 3px solid black;
    margin: 0 auto;
    border-radius: 6px;
    background-color: white;
}
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: blueviolet;
}
.container input {
    background: white;
    border:none;
    box-shadow:none;
    width:100%;
    padding:20px;
    text-align:right;
    font-size: 30px;
    border-bottom: 3px solid black;

    
}

.calculator {
display: grid;
grid-template-columns:auto auto auto auto;
padding: 10px;
grid-gap: 5px;
}

.butt {
    background: gray;
    border:1px solid gray;
    padding:20px;
    color: #EEE;
    font-size:25px;
    cursor: pointer;
    border-radius: 10px;
}
.is-clear,.is-equals {
    grid-column:span 2;

}
.is-clear {
    background: purple;
}

.is-equals {
    background: green;
}